.categories-container {
    width: 100vw;
    height: 450px;
    display: flex;
    justify-content: center;
}

.categories-section {
    width: 80%; 
    /* border: 1px solid; */
}

.categories-section h1 {
    text-align: center;
    margin: 16px;
}

.carousel {
    display: flex;
    justify-content: space-evenly;
    margin-top: 36px;
}