.profile_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  background: #1c1c1c;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 50px 40px;
}
.profile_btn {
  margin: 20px 0px;
}
.avatar {
  /* Rounded border */
  border-radius: 50%;

  /* Center the content */
  align-items: center;
  display: flex;
  justify-content: center;

  /* Size */
  height: 4rem;
  width: 4rem;
}
.avatar img{
  width: 100%;
  height: 100%;
}
