.card_container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #f2f6fc;
  color: #69707a;
  padding: 20px 20px;
}
.card {
  box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}

.card ul {
  list-style: none;
  margin-top: 30px;
  font-size: 1rem;
  text-align: center;
}
.card ul li{
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
}

.img_account_profile {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.card .card_header {
  font-weight: 500;
}
.card_header:first-child {
  border-radius: 0.35rem 0.35rem 0 0;
}
.card_header {
  padding: 1rem 1.35rem;
  margin-bottom: 0;
  background-color: rgba(33, 40, 50, 0.03);
  border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}
.card_form {
  max-width: 70%;
  
}
.card_body form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px 40px;
  gap: 20px;
}
.inputbox {
  position: relative;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.inputbox input {
  position: relative;
  width: 100%;
  padding: 15px 10px 10px 10px;
  background: transparent;
  outline: none;
  color: #1c1c1c;
  font-size: 1em;
  letter-spacing: 0.05em;
  border: none;
  border: 2px solid #1c1c1c;
  /* background: #45f3ff; */
  border-radius: 4px;
  font-weight: 500;
}
.inputbox span {
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: #1c1c1c;
  font-weight: 500;
  letter-spacing: 0.05em;
}
.update_btn{
  border: none;
  outline: none;
  padding: 11px 25px;
  display: flex;
  background: transparent;
  color: #45f3ff;
  border: 2px solid #45f3ff;
  border-radius: 4px;
  font-size: 1em;
  letter-spacing: 0.03em;
  font-weight: 600;
}
.update_btn:hover {
  color: #1c1c1c;
  background: #45f3ff;
  transition: 0.5s;
  box-shadow: #45f3ff 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  
}
