.notification-card {
    display: flex;
    align-items: center;
    border: 0.2px solid rgb(245, 245, 245);
    cursor: pointer;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    padding: 12px;
    width: 100%;
    height: 80px;
    box-shadow: 1px 3px 6px rgb(236, 236, 236);
    /* border: 1px solid; */
    margin: 8px 0;
}

.notification-card:hover{
    background-color: rgb(247, 247, 247);
    transition: 0.3s ease-in;
}

.notification-text {
    color: rgb(139, 139, 248);
}