.notifications-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notifications-container {
    padding: 20px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    box-shadow: 1px 3px 8px rgb(138, 218, 255);
    /* border: 1px solid; */
    width: 50%;
    height: 100%;
}

.notifications-container h3 {
    margin-bottom: 20px;
}

.no-activity-text {
    color: grey;
    font-weight: lighter;
}