.category-option {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 220px;
    border-radius: 8px;
    border: 1px solid rgb(217, 234, 235);
    box-shadow: 1px 4px 8px rgb(224, 239, 240);
}


.category-name {
    font-size: 24px;
    color: rgb(48, 0, 40);
}